Parameters:
  streamName:
    Type: String
  retentionHours:
    Type: Number
  shardCount:
    Type: Number
  myKey:
    Type: String
Resources:
  KinesisTwitter:
    Type: AWS::Kinesis::Stream
    Properties:
      Name:
        Ref: streamName
      RetentionPeriodHours:
        Ref: retentionHours
      ShardCount:
        Ref: shardCount
{% if sceptre_user_data.stream_encryption == true %}
      StreamEncryption:
          EncryptionType: KMS
          KeyId: !Ref myKey
{% endif %}
